body, html {
	height: 100%;
}

body {
	background-image: url('../images/bulgarian-fridge.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.board {
	background-image: url('../images/board.png');
	background-size: 100% 100%;
	width: 45%;
	height: 60%;
	margin: 2% auto;
	position: relative;
	max-width: 450px;
	min-width: 335px;
	top: 5em;
}

.add-item{
	display: block;
	margin: 0 auto;
	padding: 0;
	text-align: center;
    padding-top: 2em;
}

.list {
	width: 86%;
    padding: 0;
    overflow: auto;
    height: 64%;
    position: absolute;
    top: 4em;
    left: 7%;
    bottom: 0;
}

.list ul {
	list-style: none;
	padding: 0;
	text-align: left;
}

.list ul li {
	margin-bottom: .5em;
	font-family: 'Reenie Beanie', sans-serif;
	font-size: 34pt;
}

.list form {
	margin: .5em;
}

.fa-square-o {
	float: left;
	margin-top: 15px;
	margin-right: 20px;
	height: 17px;
	width: 17px;
}

.fa-check-square-o {
	float: left;
	margin-top: 15px;
	margin-right: 20px;
	height: 17px;
	width: 17px;
}

.crossed-out {
	text-decoration: line-through;
}

.fa-times {
	color: red;
	float: right;
	margin-top: 15px;
	margin-right: 20px;
	height: 17px;
	width: 17px;

}

.fa-pencil {
	color: orange;
	float: right;
	margin-top: 15px;
	margin-right: 20px;
	height: 17px;
	width: 17px;
}

.fa-sticky-note-o {
	color: rgb(241, 212, 28);
	float: right;
	margin-top: 15px;
	margin-right: 20px;
	height: 17px;
	width: 17px;
}

.fa-sticky-note {
	color: rgb(241, 212, 28);
}